<h1>Hi!</h1>
<% @users.each do |user| %>
  <div><%= user.full_name %></div>
<% end %>
<h1><%= link_to @current_battle.topic, @current_battle %></h1>
<% @other_battles.each do |battle| %>
  <div><%= link_to battle.topic, battle %></div>
<% end %>
