// Place all the styles related to the battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #BFCCC9;
$secondary: #EBFBF8;

.new-tag,
.new-reply {
  display: none;
}

body {
  background-color: #2F3F73;
}

h1.battles_header {
  color:aliceblue;
} 

.color-0 {
  background-color: $primary;
}

.color-1 {
  background-color: $secondary;
}

.avatar {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}


.ghost-button {
  &:hover {
    background: rgba(10, 10, 10, 0.1);
  }
}

.comment {
  border-style: solid;
  border-width: 2px;
  margin: 1px;
  padding: 20px;
}

.comment img, .comment video {
  margin-bottom: 5px;
}

.battle-header {
  background-color: #EBFBF8;
  color: black;
  margin-bottom: 5px;

  border-style: solid;
  border-width: 2px;
}

button.button, button.button:focus  {
  background-color: lightgray;
  color: black;
  outline-color: azure;
  position: fixed;
}

button.button:hover {
  background-color: lightslategray;
  color: black;
}
.edit-comment-form {
  display: none;
}

.hidden_button {
  display: none;
}

a.boxy:hover {
  background-color: transparent;
}

.panel {
  border-style: solid;
  border-width: 2px;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 30em;
  background-color: $secondary;
  
  &:hover {
    background-color: $primary;
  }
  
  img {
    display: block;
    height: 23em;
    margin: auto;
  }
}
