// Place all the styles related to the battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-tag {
  display: none;
}

//our additions changes

body {
  background-color: #2F3F73;
}

h1.battles_header {
  color:aliceblue;
} 

.color-0 {
  background-color: #BFCCC9;
}

.color-1 {
  background-color: #EBFBF8;
}

.avatar {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.ghost-button {
  &:hover {
    background: rgba(10, 10, 10, 0.1);
  }
}

.fuck-foundation {
  @extend .ghost-button;

  box-sizing: border-box;
  float: left;
  display: block;
  width: 32%;
  padding: 15px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  margin: 0 2% 2% 0;
  height: 300px;

  &:hover {
    color: inherit
  }
}

.fuck-foundation:nth-child(3n+3) {
  margin-right: 0;
}

.comment {
  border-style: solid;
  border-width: 2px;
  margin: 1px;
}

.battle-header {
  background-color: #EBFBF8;
  color: black;
  margin-bottom: 5px;

  border-style: solid;
  border-width: 2px;
}

button.button, button.button:focus  {
  background-color: lightgray;
  color: black;
  outline-color: azure;
  position: fixed;
}

button.button:hover {
  background-color: lightslategray;
  color: black;
}
.edit-comment-form {
  display: none;
}

.hidden_button {
  display: none;
}
